local CONFIGURATION = {
    api_key = "your-api-key",
    model = "yi-lightning",
    base_url = "https://api.lingyiwanwu.com/v1/chat/completions",
    additional_parameters = {},
    default_system_prompt = "translate to spanish"
}

return CONFIGURATION
